body {
}

        .auto-style14 {
            width: 46px;
        }
        .auto-style16 {
            width: 88px;
        }
        .newStyle1 {
            table-layout: fixed;
            font-family: "Calibri Light";
            background-color: #EAF0F7;
        }
        .newStyle2 {
            table-layout: fixed;
            width: 684px;
        }
        .auto-style26 {
            width: 125px;
        }
        .auto-style29 {
            table-layout: fixed;
            width: 1399px;
        }
        .auto-style18 {
            height: 40px;
        }
        .auto-style27 {
            width: 622px;
            height: 52px;
        }
        .auto-style21 {
            width: 127px;
            height: 52px;
        }
        .auto-style23 {
            width: 622px;
            height: 215px;
        }
        .auto-style24 {
            width: 127px;
            height: 215px;
        }
        .auto-style25 {
            height: 215px;
        }
        .auto-style20 {
            height: 40px;
            width: 622px;
        }
        .auto-style22 {
            height: 40px;
            width: 1225px;
        }
        .auto-style31 {
            height: 215px;
            width: 429px;
        }
        .auto-style32 {
            height: 40px;
            width: 429px;
        }
        .auto-style33 {
            width: 429px;
            height: 52px;
            text-align: right;
        }
        .auto-style34 {
            height: 52px;
        }